### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
.idea/

**/target/
/UserInputServer/react-app_files/
/UserInputServer/node/
/UserInputServer/node_modules/

/DatabaseServer/src/main/resources/secrets.properties
.env
*.env
/UserInputServer/test-results/.last-run.json
/minikube-linux-amd64
/.vscode/settings.json
/spring-learning-slideshow.html
